<table *ngIf="this.ventes" class="table table-outline-success table-striped table-hover">
    
    <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Numéro de dossier</th>
          <th>Date de validation</th>
          <th>Montant total</th>
          <th>Montant Assurance</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vente of this.ventes">
          <td>{{ vente.nom }}</td>
          <td>{{ vente.prenom }}</td>
          <td>{{ vente.numeroDossier }}</td>
          <td>{{ vente.dateValidation }}</td>
          <td>{{ vente.venteTotal }}</td>
          <td>{{ vente.montantAssurance}}</td>
        </tr>
    </tbody>
</table>
