.btn-sm-custom {
    padding: 0.25rem 0.5rem; /* Réduit la hauteur */
    font-size: 0.875rem; /* Ajuste la taille du texte */
  }
  


  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
  
  .bounce {
    animation: bounce 0.6s infinite;
  }

  